/* Min Width 1200px and Max Width 1399px */

@media (min-width: 1200px) and (max-width: 1399px) {
}

/* Min Width 992px and Max Width 1199px */

@media (min-width: 992px) and (max-width: 1199px) {
}

/* Min Width 768px and Max Width 991px */

@media (min-width: 768px) and (max-width: 991px) {
  .nav-logo img {
    max-width: 250px;
    width: 100%;
  }

  .home-hero-content h2,
  .get-ready-content h2,
  .get-ready-content h3 {
    font-size: 28px;
  }

  .home-hero-content h4 {
    font-size: 20px;
  }

  .participate-btn a h4 {
    font-size: 25px;
  }
}

/* Min Width 300px and Max Width 767px */

@media (min-width: 300px) and (max-width: 767px) {
  .nav-logo img {
    max-width: 200px;
    width: 100%;
  }

  .menu-icon {
    top: 60px;
    right: 20px;
  }

  .nav-logo h4 {
    font-size: 15px;
  }

  .menu-icon img {
    width: 30px;
  }

  .sidebar {
    width: 200px;
  }

  .home-hero-wrapper {
    padding-top: 100px;
  }

  .home-hero-content h2,
  .get-ready-content h2,
  .get-ready-content h3 {
    font-size: 20px;
  }

  .home-hero-content h4 {
    font-size: 15px;
  }

  .league-img img {
    max-width: 80%;
  }

  .participate-btn {
    background: url(../images/participate-btn-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .participate-btn a h4 {
    font-size: 18px;
  }

  .participate-btn a p {
    font-size: 14px;
  }

  .participate-btn .ball-icon {
    width: 60px;
  }

  .participate-btn .participate-arrow {
    width: 25px;
  }
}
