/* Base Styles CSS Start */

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@font-face {
  font-family: familiar-pro;
  src: url(../font/FamiliarPro-Regular.TTF);
  font-weight: 400;
}

@font-face {
  font-family: familiar-pro;
  src: url(../font/FamiliarPro-Bold.otf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: familiar-pro;
  scroll-behavior: smooth;
}

.body {
  background: url(../images/background.jpg);
}

#body-overlay {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

#body-overlay.active {
  display: block;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* Base Styles CSS End */

/* Header Part CSS Start */

/* Navigation Section CSS Start */

.nav-wrapper {
  padding-top: 30px;
}

.nav-menu {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.nav-logo {
  text-align: center;
}

.nav-logo img {
  max-width: 350px;
  width: 100%;
}

.nav-logo h4 {
  font-size: 20px;
  color: #434343;
  padding-top: 10px;
}

.menu-icon {
  position: absolute;
  top: 65px;
  right: 80px;
  cursor: pointer;
}

.menu-icon img {
  width: 40px;
  margin-left: 10px;
}

/* Navigation Section CSS End */

/* Sidebar Section CSS Start */

.sidebar {
  position: fixed;
  top: 0;
  right: -500px;
  background: #950030;
  width: 250px;
  height: 100%;
  padding: 0 30px;
  transition: right 0.3s ease-in-out;
  box-shadow: 5px 5px 11px 8px #000000b5;
  z-index: 999;
}

.sidebar.active {
  right: 0;
}

.cross-icon {
  padding: 30px 0 80px;
}

.cross-icon img {
  width: 25px;
  float: right;
  cursor: pointer;
}

.sidebar-menu li {
  padding: 10px 0;
}

.sidebar-menu li a {
  font-size: 18px;
  color: #ffffff;
}

.sidebar-menu hr {
  margin: 30px 0;
  border-top: 1px solid #ffffff;
  opacity: 0.5;
}

/* Sidebar Section CSS End */

/* Home Hero Section CSS Start */

.home-header {
  background: url(../images/background.jpg);
}

.home-hero-wrapper {
  padding-top: 150px;
  text-align: center;
}

.home-hero-content h2 {
  font-size: 32px;
  text-transform: uppercase;
  color: #96002b;
  margin-bottom: 25px;
}

.home-hero-content h4 {
  font-size: 25px;
  color: #434343;
}

/* Home Hero Section CSS End */

/* Header Part CSS End */

/* Get Ready Section CSS Start */

.get-ready-wrapper {
  background: #9d1c27;
  padding: 10px 0;
}

.get-ready-content h2 {
  font-size: 32px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0;
}

.get-ready-content h3 {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 0;
}

/* Get Ready Section CSS End */

/* Participate Section CSS Start */

.participate-wrapper {
  background: #286713;
}

.participate-btn {
  max-width: 550px;
  width: 100%;
  margin: auto;
  background: url(../images/participate-btn-bg.png);
  padding: 10px 0;
}

.participate-btn .ball-icon {
  width: 90px;
}

.participate-btn .participate-arrow {
  width: 40px;
}

.participate-btn a h4 {
  font-size: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0;
}

.participate-btn a p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 0;
}

/* Participate Section CSS End */

/* ============***============
About Page CSS
============***============ */

/* Common Hero Section CSS Start */

.common-hero-wrapper {
  padding-top: 130px;
}

.common-hero-logo img {
  max-width: 200px;
}

.welcome-btn h5 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #3a3a3a;
  background: #ededed;
  padding: 20px 0;
  margin-top: 30px;
  margin-bottom: 0;
}

.welcome-btn h5 span {
  color: #9d1d28;
}

/* Common Hero Section CSS End */

/* About Section CSS Start */

.about-wrapper {
  padding: 30px 0 50px;
}

.about-container h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #3a3a3a;
}

.about-content {
  padding-top: 40px;
}

.about-content h3 {
  font-size: 42px;
  font-weight: 700;
  color: #9d1d28;
  margin-bottom: 25px;
}

.about-content p {
  font-size: 25px;
  color: #3f3f3f;
  padding: 5px 0;
}

.about-content p span {
  font-weight: 700;
}

.about-content h4 {
  font-size: 28px;
  font-weight: 700;
  color: #3f3f3f;
}

.about-content h4 a {
  color: #9d1d28;
  text-decoration: underline;
}

/* About Section CSS End */

/* ============***============
Register Page CSS
============***============ */

/* Register Section CSS Start */

.register-wrapper {
  padding: 30px 0 60px;
}

.register-title h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #3a3a3a;
}

.live-btn span {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background: #dc2938;
  padding: 1px 10px 1px 25px;
  border-radius: 6px;
}

.live-btn span::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 100%;
}

.form-input-field input {
  width: 100%;
  background: #f3d2d7;
  padding: 15px 49px;
  border: none;
  margin-bottom: 20px;
}

.warning-message p {
  font-size: 16px;
  font-weight: 700;
  color: #d30040;
  position: relative;
  margin-top: -15px;
  margin-bottom: 10px;
}

.form-input-field input:focus {
  outline: 0;
}

.checkbox {
  padding: 25px 0;
}

.checkbox label {
  font-size: 18px;
  font-weight: 700;
  color: #3a3a3a;
  padding-left: 5px;
}

.register-form-wrapper ::placeholder {
  font-size: 20px;
  font-weight: 700;
  color: #cc939c;
}

.form-btn-field input {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  background: #9d1d28;
  padding: 6px 45px;
  border: none;
}

.meet-greet-icon img {
  max-width: 35%;
  width: 100%;
  margin-top: 60px;
}

/* Register Section CSS End */

/* ============***============
Schedule Page CSS
============***============ */

/* Match Schedule Section CSS Start */

.match-schedule-wrapper {
  padding: 30px 0 60px;
}

.match-title h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #3a3a3a;
}

.match-schedule-buttons a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 4px 25px;
  background: #9d1d28;
  margin: 0 6px;
  border-radius: 20px;
}

.matches h3 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #3f3f3f;
  margin: 10px 0 40px;
}

.match-card {
  background: #ffffff;
  text-align: center;
  box-shadow: -1px 0px 20px 16px #f4f4f4;
  border-radius: 20px;
  overflow: hidden;
}

.match-card-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.match-card-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.match-content {
  position: relative;
  padding-top: 25px;
  z-index: 2;
}

.m-number {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
}

.m-number span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  width: 35px;
  height: 35px;
  background: #97002d;
  border-radius: 100%;
}

.match-content h4 {
  font-size: 25px;
  font-weight: 700;
  color: #9d1d28;
  margin-bottom: 0;
}

.match-content p {
  font-size: 18px;
  color: #858585;
  margin-bottom: 0;
}

.match-content img {
  padding: 20px 0;
}

.match-card-bottom {
  position: relative;
  background: #910031;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 0 0 20px 20px;
  z-index: 2;
}

.match-card-bottom p {
  font-size: 18px;
  color: #ffffff;
  margin: 0;
}

/* Match Schedule Section CSS End */
